.wrapper {
  width: 500px;
  height: 300px;
  margin: 100px auto;
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
}
input[type='text'] {
  padding: 0.25em;
  font-size: 18px;
  margin: 0.5em;
}

input[type='submit'] {
  border: 0;
  background: green;
  color: white;
  padding: 0.5em;
  margin: 1em;
  width: 100px;
  font-size: 1.2em;
}
